.top-banner{
    background-color: #264653;
    margin-bottom: 64px;
}
.btn-pur{
    background-color: #E76F51;
    color: white;
    font-weight: 500;
}
.para-color{
    color: #E76F51;
}
.grayscale img{
    filter: grayscale(100%);
}